<h2>Edit your info: </h2>

<div class="edit-user-info">
<%= form_for @user do |f| %>
    <%= f.label :password, "Password:" %>
    <br>
    <%= f.password_field :password, required: true  %>
    <br></br>

    <%= f.label :email, "Email:" %>
    <br>
    <%= f.text_field :email, required: true  %>
    <br></br>

    <%= f.label :admin, "Check box if admin" %>
    <br>
    <%= f.check_box :admin %>
    <br></br>

    <%= f.submit "Update" %>

<% end %>
</div>

<br>
<%= button_to 'Back to My Profile', @user, method: :get, class: "buttonTo"%>
