
<h1><%= @user.username %>'s profile </h1>
<div class="user-icons">
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<% if current_user.admin  %>
<h3>ADMIN</h3>
    <p>
    <%= link_to 'Main Page', companies_path, method: :get, :class => "navbuttonTo"  %>
    <br></br>
    <%= link_to 'See my reviews', "/users/#{@user.id}/reviews", method: :get , :class => "navbuttonTo"%>
    <br></br>
    <%= link_to 'See All Reviews', "/reviews", :id => "js-seeAllReviews", :class => "navbuttonTo"%>
    <br></br>
    <%= link_to "Edit Account", edit_user_path(@user), method: :get, :class => "navbuttonTo" %>
    <br></br>
    <%= form_tag user_path(@user.id), method: "delete" , :class => "navbuttonTo" do %>
        <%= link_to "Delete Account" %>
        <% end %>
    <br></br>
    <%= link_to 'Log Out', signout_path, method: :get, :class => "navbuttonTo" %>
    <br></br>
    </p>
  <% end %>
  <% if !current_user.admin && logged_in %>
    <p>
    <%= link_to 'Main Page', companies_path, method: :get, :class => "navbuttonTo" %>
    <br><br></br>
    <%= link_to 'Submit a Review', new_review_path, method: :get , :class => "navbuttonTo"%>
    <br><br></br>
    <%= link_to 'See My Reviews', "/users/#{@user.id}/reviews", method: :get, :class => "navbuttonTo"%>
    <br><br></br>
    <%= link_to 'See All Reviews', "/reviews", id: "js-seeAllReviews", class: "navbuttonTo"%>
    <br><br></br>
    <%= link_to "Edit Account", edit_user_path(@user), method: :get , :class => "navbuttonTo"%>
    <br></br>
    <%= form_tag user_path(@user.id), method: "delete", :class => "navbuttonTo" do %>
        <%= link_to "Delete Account" %>
        <% end %>
    <br><br>
    <%= link_to 'Log Out', signout_path, method: :get, :class => "navbuttonTo"%>
    <br></br>
    </p>
  <% end %>
</div>
