<h1><%= @user.username %>'s profile </h1>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<% if current_user.admin  %>
<h3>ADMIN</h3>
    <p>
    <%= button_to "Edit #{current_user.username}", edit_user_path(@user), method: :get, :class => "buttonTo" %>
    <br>
    <%= form_tag user_path(@user.id), method: "delete" , :class => "buttonTo" do %>
        <%= button_tag "Delete #{@user.username}" %>
        <% end %>
    <br>
    <%= button_to 'See all Companies', companies_path, method: :get, :class => "buttonTo"  %>
    <br>
    <%= button_to 'Log Out', signout_path, method: :get, :class => "buttonTo" %>
    <br>
    </p>
  <% end %>
  <% if !current_user.admin && logged_in %>
    <p>
    <%= button_to "Edit #{current_user.username}", edit_user_path(@user), method: :get , :class => "buttonTo"%>
    <br>
    <%= form_tag user_path(@user.id), method: "delete" do %>
        <%= button_tag "Delete #{@user.username}", :class => "buttonTo" %>
        <% end %>
    <br>
    <%= button_to 'See all Companies', companies_path, method: :get, :class => "buttonTo" %>
    <br>
    <%= button_to 'Create a new Review', new_review_path, method: :get , :class => "buttonTo"%>
    <br>
    <%= button_to 'Log Out', signout_path, method: :get, :class => "buttonTo"%>
    <br></br>
    </p>
  <% end %>
