<body>
<header>
  <h2> List of all Companies </h2>
</header>
  <main>
    <% @companies.each do |company| %>
      <article>
      <h3><a class="companyInfo" data-id="<%=company.id%>" href="/companies/<%=company.id%>"><%= company.name %></a></h3>  <p><strong>Avg Rating: <%= company.reviews.avg_rated.job_rating%></strong></p>
      <div id="descrip-<%= company.id %>"><%= truncate(company.description) %></div><br>
      <button class="seeMore" data-id="<%=company.id%>"> Show more.. </button><br>
      <input type="button" class="buttonType" onclick="location.href='/companies/<%=company.id%>/reviews'" value="See <%=company.name %> Reviews"></input><br>
      <input type="button" class="submitCoReview" data-id="<%=company.id%>" onclick="location.href='/companies/<%=company.id%>/reviews/new'" value="Submit review"></input>
    </article>
      <% end %>
   </main>
 </body>
