

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

<ul>
  <div class="companyReviews" data-id="<%=@company.id%>">
      <h2 class="companyHeader">Reviews for <%=@company.name%> </h2>
      <p><strong><%= @company.reviews.first.user.username %></strong> says:</p>
      <li><strong>salary:</strong><br><%= @company.reviews.first.salary %></li></br>
      <li><strong>Women in leadership positions?:</strong><br> <%=@company.reviews.first.women_exec_roles %></li></br>
      <li><strong>Opportunities for promotion?:</strong><br><%= @company.reviews.first.promo_opps %></li></br>
      <li><strong>Would you recommend a friend?: </strong><br><%= @company.reviews.first.recommend %></li></br>
      <li><strong>Overall job satisfaction rating?(1-5): </strong><br><%= @company.reviews.first.job_rating %></li></br>
      <li><strong>Date Review Posted: </strong><br><%= @company.reviews.first.created_at.strftime('%m-%d-%Y')%></li></br>
      <li><strong>Other details (i.e. Maternity leave, remote work, training etc.):</strong></li>
        <%=@company.reviews.first.content%></p></br>
      <button class="js-nextReview" href="/companies/<%=@company.id%>" data-id="<%=@company.reviews.first.id%>"><strong> See Next Review.. </strong></button>
    </div>
  </ul>


  <% if logged_in && @company.reviews.first.user_id == current_user.id %>
    <p>
      <%= button_to "Edit Review", edit_company_review_path(@company, @company.reviews.first), method: :get %>
      <%= button_to "Delete Review", company_review_path(@company, @company.reviews.first), {controller: 'reviews', action: 'destroy', method: :delete, confirm: "Are you sure?"} %>
      <%= button_to "See Company", company_path(@company), :method => :get %>
    </p>
  <% end %>


  <% if logged_in && current_user %>
    <%= button_to "My Profile", user_path(current_user), method: :get, class: "buttonTo" %>

    <%= button_to "Back to Companies", companies_url, method: :get, class: "buttonTo" %>
  <% end %>
